<form method="post">
    {% csrf_token %}
    <label for="category">Categoria:</label>
    <select name="category" id="category">
        <option value="">Todas</option>
        {% for category in categories %}
            <option value="{{ category }}">{{ category}}</option>
        {% endfor %}
    </select>

    <button type="submit">Filtrar</button>
</form>

{% if participants %}
    <h2>Filtered Participants:</h2>
    <ul>
        {% for participant in participants %}
            <li>{{ participant.name }} - {{ participant.email }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No participants found.</p>
{% endif %}
