{% extends "layout.html" %}

{% load static %}

{% block title %}EventEco • Enviar e-mail{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/email.css' %}" type="text/css">
{% endblock extra_css %}

{% block content %}
<div class="col-md-10 mx-auto px-10 py-4">
    <div class="email-card">
        <h2>
            Enviar email
        </h2>
        <form method="get">
            {% csrf_token %}
            <select class="custom-select " name="category" id="category" placeholder="Selecionar categoria">
                <option value="-">Selecionar categoria</option>
                {% for category in categories %}
                    <option value="{{ category }}" {% if category == selected_category %}selected{% endif %}>{{ category}}</option>
                {% endfor %}
            </select>
            {{ form_class.media }}
            {% for field in form_class %}
            <div class="form-group mt-2">
                <div><label for="{{ field.id_for_label }}" class="text-dark font-weight-bold">Corpo-email: </label></div>
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" name="action" value="send_email" class="btn btn-primary float-right">Enviar Email</button>
            <button type="submit" name="action" value="export" class="btn btn-primary float-right mr-2">Exportar</button>
        </form>
    </div>
</div>

{% endblock content %}
