{% extends "layout.html" %}

{% load static %}

{% block title %}EventEco • {{ eventeco.name }}{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}" type="text/css">
{% endblock extra_css %}

{% block content %}

    <div class="col-md-10 mx-auto px-10 py-4">
        <div class="event-card">
            <h2>
                {{ eventeco.name }}
            </h2>
            <div class="event-info">
                <i class="bi bi-people-fill"></i>
                <p>Organizador do evento</p>
                <p class="featured">{{ eventeco.host.name }}</p>
            </div>
            <div class="event-info">
                <i class="bi bi-clock"></i>
                <p>Data do evento</p>
                <p class="featured">{{ eventeco.start_date }}</p>
            </div>
            <div class="event-info">
                <i class="bi bi-list-task"></i>
                <p>Categoria</p>
                <p class="featured">{{ eventeco.category_prim.name }}</p>
            </div>
            <div class="event-info">
                <i class="bi bi-link"></i>
                <p>Link do evento</p>
                <a href={{ eventeco.url }} target="_blank">{{ eventeco.url }}</a>
            </div>
            <h4 class="py-2">Descrição do evento:</h4>
            <div class="featured">{{ eventeco.detail|safe }}</div>
        </div>
    </div>  

{% endblock content %}