{% extends "layout.html" %}

{% load static %}

{% block title %}EventEco • Home{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'calendar/css/rome.css' %}" type="text/css">
{% endblock extra_css %}

{% block content %}

<div class="col-md-10 mx-auto px-10 py-4">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-2">
            <h1>EventEco</h1>
            <p>Procure por eventos que estão chegando</p>
        </div>
        <div class="col-md-8">
            <div class="search-group">
                <input type="text" class="form-control" placeholder="Procure por eventos que estão chegando" aria-label="Search">
                <button class="btn" type="button" id="button-addon2">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <div class="col-md-1">
            <a href="#" class="rounded-link">
                <img src="https://placehold.co/50x50" alt="Icon">
            </a>
        </div>  
    </div>
    
    <div class="row mt-3 justify-content-between">
      <div class="calendar-container col-md-4">
        <h4>Calendário</h4>
        <div id="inline_cal"></div>
      </div>
      <div class="events-container col-md-7">
        <h5>Eventos dia <span id="current-date"></span></h5>
        <div id="current-date-events" class="list-group"></div>
      </div>
    </div>

    <div class="row mt-3 justify-content-between">
      <div class="col-md-4">
        <h4>Próximos Eventos</h4>
        <div id="next-events" class="list-group"></div>
        <button class="btn btn-primary float-right">Criar Evento</button>
      </div>
      <div class="team-container col-md-7">
        <h4>Equipe Caxias Lixo Zero</h4>
        <div class="card-deck">
          <div class="card custom-card">
            <img src="https://placehold.co/50x50" alt="Member">
            <div class="card-body">
              <h5 class="card-title">[NOME]</h5>
              <p class="card-text">[FUNÇÃO]</p>
            </div>
          </div>
          <div class="card custom-card">
            <img src="https://placehold.co/50x50" alt="Member">
            <div class="card-body">
              <h5 class="card-title">[NOME]</h5>
              <p class="card-text">[FUNÇÃO]</p>
            </div>
          </div>
          <div class="card custom-card">
            <img src="https://placehold.co/50x50" alt="Member">
            <div class="card-body">
              <h5 class="card-title">[NOME]</h5>
              <p class="card-text">[FUNÇÃO]</p>
            </div>
          </div>
          <div class="card custom-card">
            <img src="https://placehold.co/50x50" alt="Member">
            <div class="card-body">
              <h5 class="card-title">[NOME]</h5>
              <p class="card-text">[FUNÇÃO]</p>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock content %}

{% block extra_js %}
    {{ events|json_script:"events-data" }}
    <script src="{% static 'calendar/js/rome.js' %}"></script>
    <script src="{% static 'calendar/js/main.js' %}"></script>
{% endblock extra_js %}